---
layout: default
title: "Home"
---

This is my homepage

### Jason Mejia

Hi I am Jason Mejia
I was born in Brasil.
I moved to USA years ago where I have been living since then.
I am Spanish Science Instructor at High School. 
I have Bachelor of Science in Genetics from University California Davis
After that I continued towards my Master in Science in Cell and Molecular Biology at San Francisco State 
University.

---
title: "Project Educator at Hight School"
layout: post
---

I have worked in several research labs. I am interested in how our persona ,personality arises from living tissue. 
I am interested in knowing at what point a group of cells start to have life or properties that caracterize such as life,
cognition or choerent neural activity starts. When a group of neurons start to produce activity that it is choerent for 
the system as whole in creating cognition. Those are questions that I want to reply with my research. 
Jason Mejia 

{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %}
